@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
    --primary-color: #1F4690;
    --secondary-color: #FFA500;
    --light-primary-color: #3A5BA0;
    --light-secondary-color: #FFE5B4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------------------------------------------------------------------------- TYPOGRAPHY ---------------------------------------------------------------------------- */


/* General */

body {
    font-family: 'Quicksand';
}

a {
    text-decoration: none;
}


/* Header */

header a {
    color: white;
}


/* ---------------------------------------------------------------------------- LAYOUT ------------------------------------------------------------------------------ */


/* Wrapper */

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}


/* Header */

header {
    background-color: var(--primary-color);
    padding: 1em 0;
}

header nav {}